/**********/
/* FOOTER */
/**********/

footer{
    background-color:  #617552;
    margin: 10px 0px 0px 0px;
    padding: 10px;
    min-height: 100px;
    color:#FFFFFF;
    display:flex;
    flex-direction: column;
    align-items: end;
}
footer redes img{
    padding: 10px;
}
footer p {
    padding: 10px;
}