@media screen and (max-width: 567px){
    /***** PORTADA ****/
    .portadaContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
            "left"
            "right"
    }
    .sectionLeft{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
            "imagen" 
            "title"
            "texto";
        grid-area: left;
    }
    .sectionRight{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
            "imagen" 
            "title"
            "texto";
        grid-area: right;
    }
    .sectionImg{
        display: block;
        grid-area: imagen;
        justify-self: center;
        width: 300px;
        img{
            width: 100%;
        }
    }
    .portadaImg {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    /*** TALLERES ***/
    .talleresContenedor{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }
    .cards{
        background-size: cover;
        background-position: center;
    }
    .cards h2, p{
        padding: 10px;
    }
    .cards h2{
        font-size: 1.5rem;
    }
    /*** CONTACTO ***/
    .contactanos-container{
        grid-template-columns: 1fr;
    }
    .contact-container{
        grid-template-columns: 1fr;
        form {
            grid-template-columns: 1fr;
            grid-template-areas:
            "info1"
            "info2"
            "comment";
        }
    }
    .info2{
        label{
            margin: 0px 0px 5px 15px;
        }
    }
    .comment {
        textarea{
            width: 100%;
        }
        input{
            margin: 0px;
        }
    }
    .subscription-container{
        margin-top: 10px;
    }
    .form-button{
        min-width: 100%;
        border-radius: 5px;
        border: 1px solid grey;
        color: #FFFFFF;
        background-color: #755F58;
        border: 2px solid  #755F58;
        &:hover{
            color: #FFFFFF;
            background-color: #d1765a;
        }
        &:focus {
            color: #FFFFFF;
            background-color: #d1765a;
            outline: none;
            border: 2px solid  #755F58;
        }
    }

    /*** GALERIA ***/

    .img-container{
        max-width: 310px;
    }

    /*** NAV ***/
    .nav-span{
        color: rgba(255,255,255,0.75);
        font: {
            size: 1.5rem;
            weight: 400;
        }
    }
}