@media screen and (max-width: 567px){
    .portadaContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        grid-template-areas: 
            "left"
            "right"
    }
    .sectionLeft{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
            "imagen" 
            "title"
            "texto";
        grid-area: left;
    }
    .sectionRight{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        grid-template-areas: 
            "imagen" 
            "title"
            "texto";
        grid-area: right;
    }
    .sectionImg{
        display: block;
        grid-area: imagen;
        width: 300px;
        img{
            width: 100%;
        }
    }
    .portadaImg {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
    .talleresContenedor{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }
    .cards{
        background-size: cover;
        background-position: center;
    }
    .cards h2, p{
        padding: 10px;
    }
    .cards h2{
        font-size: 1.5rem;
    }
    /* CONTACTO */
    .contactanos-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        justify-content: start;
    }
    .contact-container form{
        display: grid;
        grid-template-columns: 1fr;
    }
    .comment{
        max-width: 400px;
        margin: 10px;
    }
    .info1, .info2, .comment, .subscription{
        padding: 10px;
    }
    .info1 div, .info2 div, .subscription div{
        margin: 0px 0px 0px 5px;
    }
    .info1 label, .subscription label {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        display: block;
    }
    .info1 input, .subscription-email {
        display: block;
        border-radius: 5px;
        border: 1px solid grey;
        min-width: 300px;
        padding: 0px 0px 0px 10px;
    }
    .info2 label{
        padding: 5px;
        margin: 0px;
    }
    .info2 legend {
        padding: 5px;
    }
    .info2 input {
        padding: 5px;
        margin: 0px 0px 0px 5px;
        width: 15px;
        height: 15px;
    }
    textarea{
        padding: 5px;
        resize: none;
        width: 100%;
    }
    .form-button{
        padding: 5px;
        margin: 0px;
        border-radius: 5px;
        border: 1px solid grey;
        color: #FFFFFF;
        background-color: #755F58;
        border: 2px solid  #755F58;
    }
    .form-button:hover {
        color: #FFFFFF;
        background-color: #d1765a;
    }
    .form-button:focus {
        color: #FFFFFF;
        background-color: #d1765a;
        outline: none;
        border: 2px solid  #755F58;
    }

    //GALERIA

    .img-container{
        max-width: 310px;
    }
}