/**********/ 
/* NAV */
/**********/

nav{
    background-color: #505D41;
}

.nav-li{
    color: #FFFFFF;
    border-radius: 5px;
}
.nav-a{
    color: rgba(255,255,255,0.75);
    border-radius: 5px;
    &:hover{
        background-color: #617552;
        color: #FFFFFF;
    }
    &:focus{
        background-color: #617552;
        border: 1 px solid #FFFFFF;
    }
}
.nav-btn{
    color: #FFFFFF;
}
.nav-span{
    color: rgba(255,255,255,0.75);
    font: {
        size: 1.5rem;
        weight: 400;
    }
}