*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'header';
@import 'nav';
@import 'body';
@import 'footer';
@import 'contacto';
@import 'media-xl';
@import 'media-tablet';
@import 'media-mobile';



